<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a href="/restaurants" class="nav-link {{#if (equal route 'index')}}active{{/if}}">首頁</a>
  </li>
  <li class="nav-item">
    <a href="/restaurants/feeds" class="nav-link {{#if (equal route 'feeds')}}active{{/if}}">最新動態</a>
  </li>  
  <li class="nav-item">
    <a href="/users/top" class="nav-link {{#if (equal route 'topUsers')}}active{{/if}}">美食達人</a>
  </li>
  <li class="nav-item">
    <a href="/restaurants/top" class="nav-link {{#if (equal route 'topRestaurants')}}active{{/if}}">Top 10 人氣餐廳</a>
  </li>
</ul>